.chat-other {
  align-self: flex-start;
  background-color: #e9ecef;
  border-radius: 0.4rem 1.2rem 1.2rem 0.4rem;
}

.chat-you {
  align-self: flex-end;
  background-color: #3b5bdb;
  color: #fff;
  border-radius: 1.2rem 0.4rem 0.4rem 1.2rem;
}

.chat-text {
  /* max-width: 12rem; */
  padding: 0.8rem;
}
